.social-list, .site-nav, .profile-nav, .service__list, .gallery__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo, .social-list__link, .site-nav__link, .service-list__link {
  display: block;
  font-style: normal;
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: #153461;
  font-family: Catamaran, sans-serif;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  width: 1570px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin-right: 110px;
}

.logo__text {
  position: relative;
  right: 10px;
  display: inline-block;
  margin-left: 64px;
  padding-top: 59px;
  color: #99baed;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0;
  opacity: 0.65;
}

.logo__text:hover, .logo__text:focus {
  opacity: 1;
}

.logo__text::before {
  content: "";
  position: absolute;
  bottom: 13px;
  right: 70px;
  height: 74px;
  width: 74px;
  background-image: url(../images/icons/scissors.svg);
  background-size: cover;
}

.logo__text--increased {
  font-size: 60px;
}

.logo__text--increased::before {
  content: "";
  position: absolute;
  bottom: 13px;
  right: 90px;
  height: 134px;
  width: 141px;
  background-image: url(../images/icons/scissors.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.button {
  width: 188px;
  padding: 23px 33px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #99baed;
  cursor: pointer;
  transition: box-shadow 200ms linear;
}

.button:hover, .button:focus {
  box-shadow: 0 17px 50px rgba(153, 186, 237, 0.5);
}

.social-list {
  display: flex;
  justify-content: center;
  margin-right: calc(-1 * 25px);
  padding-bottom: 47px;
}

.social-list__item {
  margin-right: 25px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: #d3e5ff;
  transition: background-color 200ms linear;
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #99baed;
}

.social-list__icon {
  fill: #ffffff;
}

.header {
  padding-bottom: 30px;
  background-color: #ffffff;
  z-index: 2;
}

.header__container {
  display: flex;
  align-items: flex-end;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 20px;
}

.site-nav__link {
  padding: 67px 14px 8px 14px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #163561;
  font-weight: 500;
  line-height: 1.33;
  transition: color 200ms linear, background-color 200ms linear;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #ffffff;
  background-color: #a3c1ef;
}

.profile-nav {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

.profile-nav__item:not(:last-child) {
  margin-right: 72px;
}

.profile-nav__btn {
  padding: 0;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 200ms linear;
}

.profile-nav__btn:hover, .profile-nav__btn:focus {
  background-color: rgba(153, 186, 237, 0.5);
}

.home {
  width: 1920px;
  margin: 0 auto;
  min-height: 820px;
  padding: 50px 0;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-image: url(../images/background/hero.jpg);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .home {
    background-image: url(../images/background/hero@2x.jpg);
  }
}

.home__title {
  width: 576px;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 75px;
  line-height: 1.33;
  letter-spacing: 0;
  color: #163561;
}

.home__title-accent {
  color: #fbb400;
}

.home__description {
  width: 526px;
  padding-bottom: 97px;
}

.history {
  width: 1920px;
  margin: 0 auto;
  padding: 250px 0;
  background-repeat: no-repeat;
  background-position: top left, top right, 88px;
  background-size: auto, auto, auto;
  background-image: url(../images/background/top-left.svg), url(../images/background/top-right.svg), url(../images/background/history.jpg);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .history {
    background-image: url(../images/background/history@2x.jpg);
  }
}

.history__wrapper {
  width: 576px;
  margin-left: auto;
}

.history__title {
  margin-bottom: 80px;
  font-size: 70px;
  color: #163561;
}

.history__title-accent {
  color: #fbb400;
}

.history__description {
  width: 526px;
  padding-bottom: 48px;
}

.history__description--positioned {
  padding-bottom: 108px;
}

.wrapper {
  width: 400px;
  margin-left: auto;
  margin-right: 120px;
}

.service {
  width: 1920px;
  margin: 0 auto;
  padding: 50px 0 250px;
  background-repeat: no-repeat;
  background-position: bottom left, bottom right;
  background-size: auto, auto, auto;
  background-image: url(../images/background/bottom-left.svg), url(../images/background/bottom-right.svg);
}

.service__title {
  width: 387px;
  margin: 0 auto;
  margin-bottom: 83px;
  font-weight: 700;
  font-size: 70px;
  line-height: 1.16;
  text-align: center;
  color: #163561;
}

.service__title-accent {
  color: #fbb400;
}

.service__list {
  display: flex;
  justify-content: center;
  margin-right: calc(-1 * 50px);
}

.service-list__item {
  width: 440px;
  margin-right: 50px;
  padding: 50px 40px 72px;
  border-radius: 29px;
  background-color: #FAFBFF;
  box-shadow: 0 5px 0 0 #99baed;
  transition: background-color 200ms linear, box-shadow 200ms linear;
}

.service-list__item:hover, .service-list__item:focus {
  background-color: #99baed;
  box-shadow: 23px 39px 94px rgba(153, 186, 237, 0.5);
}

.service-list__item:hover .service-list__description,
.service-list__item:focus .service-list__description,
.service-list__item:hover .service-list__title,
.service-list__item:focus .service-list__title {
  color: #ffffff;
}

.service-list__icon-bcg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 103px;
  height: 126px;
  border-radius: 13px;
  background-color: #e5ecfe;
}

.service-list__icon {
  height: 65px;
  width: 58px;
}

.service-list__icon--rotated {
  transform: rotate(315deg);
}

.service-list__title {
  margin-bottom: 60px;
  font-size: 45px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #163561;
}

.service-list__description {
  text-align: center;
  color: #153461;
  opacity: 0.65;
}

.gallery {
  width: 1920px;
  margin: 0 auto;
  padding: 50px 0 150px;
  background-repeat: no-repeat;
  background-position: top left, top right;
  background-size: auto, auto, auto;
  background-image: url(../images/background/top-left.svg), url(../images/background/top-right.svg);
}

.gallery__title {
  margin-bottom: 110px;
  font-size: 70px;
  text-align: center;
  color: #163561;
}

.gallery__title-accent {
  color: #fbb400;
}

.gallery__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: calc(-1 * 37px);
  margin-right: calc(-1 * 37px);
}

.gallery__item {
  position: relative;
  margin-bottom: 37px;
  margin-right: 37px;
  cursor: pointer;
}

.gallery__item:hover .gallery__overlay,
.gallery__item:focus .gallery__overlay {
  opacity: 0;
}

.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 435px;
  width: 435px;
  transition: opacity 200ms linear;
  opacity: 1;
  background-color: rgba(82, 150, 255, 0.35);
}

.button--positioned {
  display: flex;
  justify-content: center;
  margin-top: 77px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  width: 1920px;
  margin: 0 auto;
  padding: 50px 0 100px;
  background-repeat: no-repeat;
  background-position: left 100px, right 100px;
  background-size: auto, auto, auto;
  background-image: url(../images/background/bottom-left.svg), url(../images/background/bottom-right.svg);
}

.footer .container {
  border-bottom: 1px solid #99baed;
}

.footer__logo {
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 37px;
}

.footer__description {
  width: 526px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */