.header {

  padding-bottom: 30px;
  background-color: $primary-white-color;

  z-index: 2;
}

.header__container {
  display: flex;
  align-items: flex-end;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  @extend %list;
  display: flex;
}

.site-nav__item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.site-nav__link {
  @extend %link;
  padding: 67px 14px 8px 14px;
    border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  color: $title-color;
  font-weight: 500;
  line-height: 1.33;

  transition: color 200ms linear,
  background-color 200ms linear;

  &:hover,
  &:focus {
  color: $primary-white-color;
  background-color: $nav-bcg-color;
  }
}


.profile-nav {
  @extend %list;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

.profile-nav__item {
    &:not(:last-child) {
    margin-right: 72px;
  }

}

.profile-nav__btn {
  padding: 0;
  width: 42px;
  height: 42px;
  
  border: none;
  border-radius: 50%;
  cursor: pointer;
  
  background-color: transparent;
  transition: background-color 200ms linear;

  &:hover,
  &:focus {
    background-color: $shadow-color;
  }

}

.profile-nav__icon {

}

