.logo {
  @extend %link;
  display: block;
  margin-right: 110px;
}

.logo__text {
  position: relative;
  right: 10px;

  display: inline-block;
  margin-left: 64px;
  padding-top: 59px;

  color: $primary-element-color;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0;
  opacity: 0.65;


  &:hover,
  &:focus {
    opacity: 1;
  }
}

.logo__text::before {
  content: "";
  position: absolute;
  bottom: 13px;
  right: 70px;

  height: 74px;
  width: 74px;
  background-image: url(../images/icons/scissors.svg);
  background-size: cover;
}


.logo__text--increased {
  font-size: 60px;
}

.logo__text--increased::before {
  content: "";
  position: absolute;
  bottom: 13px;
  right: 90px;

  height: 134px;
  width: 141px;
  background-image: url(../images/icons/scissors.svg);
  background-size: contain;
  background-repeat: no-repeat;
}