$primary-white-color: #ffffff;

$primary-font: Catamaran, sans-serif;

$text-color: #153461;
$title-color: #163561;
$accent-color: #fbb400;
$primary-element-color: #99baed;
$nav-bcg-color: #a3c1ef;
$accent-element-color: #a4a4a4;
$shadow-color: rgba(153, 186, 237, 0.5);
$list-item-shadow: 0 5px 0 0 rgba(153, 186, 237, 1);
$list-item-bcg: #FAFBFF;
$gallery-overlay-bcg: rgba(82, 150, 255, 0.35);
$icon-color: #008fdd;
$icon-bcg-color: #e5ecfe;
$secondary-element-color: #d3e5ff;
